<ng-template
  [ngIf]="itemPopUp">
    <section id="itemPopUp">
      <div id="productImgs">
          <div *ngIf="chosenItem == 'AllThings'" class="imgHolder">
            <figure>
              <img src="../../assets/images/SmithEnsemblePics/front.png" alt="AllThingsCover">
            </figure>
            <figure>
              <img src="../../assets/images/SmithEnsemblePics/cd-vector(1).png" alt="AllThingsDisk">
            </figure>
          </div>
          <div *ngIf="chosenItem == 'BrightlyBeams'" class="imgHolder">
            <figure>
              <img src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png" alt="BrightlyBeamsCover">
            </figure>
            <figure>
              <img src="../../assets/images/SmithEnsemblePics/SmithSixCD.png" alt="BrightlyBeamsDisk">
            </figure>
        </div>
      </div>
      <div id="productInfo">
        <div *ngIf="chosenItem == 'AllThings'">
          <h1 id="productName">
              The Smith Ensemble: All Things Come of Thee
          </h1>
          <h3>(${{AlbumInfo.Prices.AllThings}}.00)</h3>
        </div>
        <div *ngIf="chosenItem == 'BrightlyBeams'"> 
          <h1 id="productName">
              The Smith Six: Brightly Beams
          </h1>
          <h3>(${{AlbumInfo.Prices.BrightlyBeams}}.00)</h3>
        </div>
        <ol *ngIf="chosenItem == 'AllThings'">
          <li *ngFor="let song of AlbumInfo.Songs.AllThings">{{song}}</li>
        </ol>
        <ol *ngIf="chosenItem == 'BrightlyBeams'">
          <li *ngFor="let song of AlbumInfo.Songs.BrightlyBeams">{{song}}</li>
        </ol>
        <div id="productInputs">
          <input type="number" min="0"  #productQuantity value="" placeholder="Quantity" autofocus/>
          <button (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
      <button id="closeBtn" (click)="closePopUp();">X</button>
    </section>
</ng-template>