<ng-template
  [ngIf]="itemPopUp">
    <section>
      <div id="productImg" *productImg></div>
      <div id="productInfo">
        <h1 id="productName"></h1>
        <ol>
          <li>Song</li>
          <li>Song</li>
          <li>Song</li>
        </ol>
        <div id="productInputs">
          <!-- <input type="number" id="productQuantity" min="0" name="productQuantity" *productQuantity/> -->
          <input type="number" min="0"  #productQuantity value="0"/>
          <button (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
      <button (click)="closePopUp();">X</button>
    </section>
</ng-template>