<div class="container">
  <div class="row">
      <div class="col p-2">
          <figure>
              <div class="fade">Hello</div>
              <img class="center" src="../../assets/images/SmithEnsemblePics/Woodsmith_banner_mobile.jpg">
          </figure>
      </div>
  </div>
 
  <div class="row">
      <div class="col-md">


      <div class="listen-now top-right">
             <div class="my-container">
                  <a routerLink="/buy-cds" [queryParams]="{start:'Loss'}">  
                      <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Loss_cover.jpg">
                  </a>
                  <a routerLink="/buy-cds" [queryParams]="{start:'Refraction'}">
                    <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Refraction_cover.jpg">
                </a>


              <!-- <a href="https://www.heirloomartco.com/products/the-smith-six-brightly-beams?pr_prod_strat=copurchase&pr_rec_pid=6164485800110&pr_ref_pid=4996202496136&pr_seq=uniform">   
              <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/CDSmithSix.png">
              <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png">
          </a> -->
          </div>
              
      </div>

<!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
          
      </div>
  </div>

<!-- <div class="row">
  <div class="col">
      <div class="vid">

          <div >
              <iframe class="featured-vid" width="75%" height="315px 
              " src="https://www.youtube.com/embed/GZDnCmSxnSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
           </div>
      </div>

  </div>
</div> -->


<div class="col-md-12 text-center my-text-info">

  <!-- <img class="center" src="../../assets/images/SmithEnsemblePics/SmithSix-About.jpg"> -->
  <h3>WOODSMITH</h3>
  <p>
    <b>Aubrey Woods</b>’ rise as a professional violinist vividly demonstrates the versatility that is the sine qua non for twenty-first century musicians. Her artistic leadership and excellence as concertmaster for Ballet West are consistently on display at the Capitol, Rose Wagner, and Eccles theatres in Salt Lake City.
    <br><br>
    She frequently performs with the Utah Symphony Orchestra. She appeared for several years with the Orchestra at Temple Square in weekly worldwide broadcasts and on recordings with the Tabernacle Choir at Temple Square and notable soloists, including Bryn Terfel and Renee Fleming. Aubrey is equally in demand as studio recording artist for movies, television, and in backing tracks for many popular artists. Her performances as a chamber musician include appearances with NOVA, Intermezzo, the Park City Chamber Music Series and, on the Baroque violin, with New York Baroque Incorporated, the Sebastians, and Musica Angelica.
    <br><br>
    She may often be heard in company with her husband, Alexander Woods, as the duo Woodsmith. In her free time, Aubrey loves making sourdough bread and spending time with her husband and their five kids.
  </p>
  <br>
  <p>
    <b>ALEXANDER WOODS</b> is a “showstopping” (The New York Times) violinist, baroque violinist, and violist, known for his “deft, sensitive” (The New York Times) playing and his “beautiful tone” (Early Music America Magazine). He has performed with groups such as New York Baroque Incorporated (NYBI), the Helicon Foundation, the Sebastians, the Talea Ensemble, the Orchestra of St. Luke’s (New York), and the Utah Symphony. A dual Canadian/American citizen, Alex’s international career has led him to perform at the Mostly Mozart Festival, Lincoln Center Festival, Festival Pablo Casals, Darmstadt Institute, Festival Wien Modern, and many others. A prolific and critically acclaimed recording artist, Alex’s work may be heard on the MSR Classics, Acis, Tzadik, Bridge, New Focus and Tantara record labels. His performances and recordings have been featured on stations such as BBC Radio 3 (United Kingdom) and WQXR (New York).
    <br><br>
    He frequently collaborates with his wife, Ballet West Orchestra concertmaster Aubrey Smith Woods as Woodsmith, and with his father, Rex Woods, Professor of Piano Emeritus at the University of Arizona. Alex is the founder and director of the BYU Baroque Ensemble, an early music chamber orchestra performing on original instruments created by the Violin Making School of America. Alex studied at Yale University, Manhattan School of Music, and the University of Arizona. 
    <br><br>
    When he is not performing or teaching, Alex loves being at home with his wife, violinist Aubrey Smith Woods, and their five kids.
  </p>
</div>

<div id="videoSamples">
  <h3>SAMPLE VIDEOS</h3>  
  <div id="videoHolder">
      <iframe 
          src="https://www.youtube.com/embed/9xXiJxoxlQw"
          title="YouTube video player"   
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen
      ></iframe>
      <iframe 
          src="https://www.youtube.com/embed/VWLJxZPmMPg"
          title="YouTube video player"   
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen
      ></iframe>
  </div>
  <button><a routerLink="/videos" [queryParams]="{filter: 'wood'}">See more videos</a></button>
</div>

<app-icons-woodsmith></app-icons-woodsmith>

</div>