<div class="container">
  <div class="row">
      <div class="col p-2">
          <figure>
              <img class="center" src="../../assets/images/SmithEnsemblePics/404Error.jpg">
          </figure>
      </div>
  </div>
 


<!-- <div class="row">
  <div class="col">
      <div class="vid">

          <div >
              <iframe class="featured-vid" width="75%" height="315px 
              " src="https://www.youtube.com/embed/GZDnCmSxnSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
           </div>
      </div>

  </div>
</div> -->




<app-icons-ensemble></app-icons-ensemble>

</div>