
<div class="container video-body">  
    
  <div class="row">
      <div class="col">
            <h1 >Buy CDs</h1>
            <section class="sales-floor">
                <article class="purchase-item">
                        <figure>
                            <img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png">
                        </figure>
                        <h2>All Things Come of Thee</h2>

                </article>
                <article class="purchase-item">
                    <a href="*">
                        <figure>
                            <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png">
                        </figure>
                        <h2>The Smith Six: Brightly Beams</h2>
                    </a>
                </article>
            </section>

            <app-buy-cds-cart 
              [childBucket1]="parentPackage1" 
              [childBucket2]="parentPackage2"
              
            ></app-buy-cds-cart>





  </div>
  
  </div>