
<div class="container video-body">  
    
  <div class="row">
      <div class="col">
            <h1 >Buy CDs</h1>
            <section class="sales-floor">
                <article class="purchase-item" (click)="selectItem('AllThings')">
                        <figure>
                            <img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png">
                        </figure>
                        <h2>All Things Come of Thee</h2>
                        <!-- <input type="number" id="AllThingsCount" *AllThingsCount placeholder="0" hidden> -->
                </article>
                <article class="purchase-item" (click)="selectItem('BrightlyBeams')">
                        <figure>
                            <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png">
                        </figure>
                        <h2>The Smith Six: Brightly Beams</h2>
                        <!-- <input type="number" id="BrightlyBeams" *BrightlyBeams placeholder="0" hidden> -->
                </article>
            </section>
            <button (click)="showCart()">Show Cart</button>
            <section>
                <app-buy-cds-cart 
                    [(cartPopUp)]="showCartPopUp"
                ></app-buy-cds-cart>
            </section>
            <section>
                <app-buy-cds-info
                    [(itemPopUp)] = "showItemPopUp"
                    [chosenItem] = "selectedItem"
                >
                </app-buy-cds-info>
            </section>




  </div>
  
  </div>