<div class="container">
    <div class="row">
        <div class="col p-2">
            <figure>
                <img class="center" src="../../assets/images/SmithEnsemblePics/SmithSixBridge_wText.jpg">
            </figure>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md">


        <div class="listen-now top-right">
                <h2>Our New Album</h2>
               <div class="my-container">
                    <a routerLink="/buy-cds">
                        <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/CDSmithSix.png">
                        <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png">
                    </a>


                <!-- <a href="https://www.heirloomartco.com/products/the-smith-six-brightly-beams?pr_prod_strat=copurchase&pr_rec_pid=6164485800110&pr_ref_pid=4996202496136&pr_seq=uniform">   
                <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/CDSmithSix.png">
                <img class="album-cover" src="../../assets/images/SmithEnsemblePics/Smith-SixCDsmall.png">
            </a> -->
            </div>
                
        </div>

 <!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
            
        </div>
    </div>

<!-- <div class="row">
    <div class="col">
        <div class="vid">

            <div >
                <iframe class="featured-vid" width="75%" height="315px 
                " src="https://www.youtube.com/embed/GZDnCmSxnSY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
             </div>
        </div>

    </div>
</div> -->


<div class="col-md-12 text-center my-text-info">

    <!-- <img class="center" src="../../assets/images/SmithEnsemblePics/SmithSix-About.jpg"> -->
    <h3>THE SMITH SIX</h3>


    <p>While working on All Things Come of Thee, a recording by The Smith Ensemble, the question was asked of us, “What about a Smith Six recording?” Up until then we hadn’t considered that prospect, but with the encouragement of dear friends we immediately went to work. The bulk of Brightly Beams was completed within a three week period (December 2018). Our time was especially limited as our son Asher, the oldest member of the group, would be departing for a church mission January 2, 2019. Somehow, in the end, it all came together!</p>
  
    
    <p>The Smith Six comprises the youngest siblings of The Smith Ensemble. They learned they could sing in harmony while waiting for their dad in a grocery store parking lot. With no ukelele handy they began to arrange, a cappella, the song, Can't Help Falling in Love, made famous by Elvis Presley. Once following a family concert for a Kiwanis Club luncheon, someone commented that they “sounded like the young Osmonds.”  Upon returning home, the kids looked up some early Osmond Brothers performances from the Andy Williams Show. Quickly hooked, they promptly started learning a few of these same barbershop numbers, branching out from there. Hence, The Smith Six were “born.”   </p>
    

    
    <p>With the diverse collection of songs and styles found in this recording, it is our desire that the listener will also find hope, peace, faith, love, and a bit of fun.</p>
   
    
    <p>The late Fairon Smith, Grandfather to The Smith Six, spent 27 years in the US Navy. His most beloved hymn, unquestionably due to his long naval career, was Brightly Beams Our Father’s Mercy. While “Graumpy” is no longer with us, we believe he would be pleased with this recording, and humbly dedicate Brightly Beams to him.</p>
 
</div>

<app-icons-smithsix></app-icons-smithsix>

</div>