/* /* Container holding the image and the text */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
  
@import "../universal.scss";


@media only all and (min-width: 0) {
  @include universal_mobile;
  figure{
    margin: 0 auto;
    img{
      // padding: 2em;
    }
  }
  h2{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
  }
  h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
    /* center the image */
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      animation:fadeInAnimation ease 1s;
      animation-iteration-count: 1; 
      animation-fill-mode: forwards;
    }
  
    @keyframes fadeInAnimation { 
      0% { 
          opacity: 0; 
      } 
      100% { 
          opacity: 1; 
       } 
  } 

  .container {
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    padding: 0 0 2em 0;
    margin-bottom:em;
    margin-top:4em;
    overflow:hidden;
    .row{
      .col{
        figure{
          width: 100%;
          position: relative;
          img{
            display:flex;
            width: 100%;
            height:100%;
          }
        }
      }
      .col-md{
        .listen-now{
          .scripture-quote{
            // margin: 2em auto;
            // padding: 0.01em 2em 1em 2em;
            font-size: 16px;
            font-style: italic;
            h2{
              font-family: 'Times New Roman', Times, serif;
              font-weight: bolder;
            }
          }
          .my-container{
            margin: 5rem auto;
            a:link{
              .cd-album-cover{
                position: absolute;
                width:50%;
                max-width: 450px;
                border-radius: 1px;
                transition: 2s;
                margin: 2.5rem 0;
              }
              .album-cover{
                position:relative;
                width:60%;
                max-width: 500px;
                left: 5px;
                z-index: 1;
                margin: 2.5rem 0;
              }
            }
          }
          .my-container:hover .cd-album-cover{
            transform: translateX(60%);
          }
        }
      }
    }
    .my-text-info{
      width: 87.5%;
      margin: 0rem auto;
      align-self:center;
      float: none;
      h3{}
      p{}
    }
    #videoSamples{
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 2.5rem auto;
      div#videoHolder{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        iframe{
          display:flex;

          margin: 0 auto 2.5rem auto;
        }
      }
    }
    } 
    

}
@media only all and (min-width: 760px) {
  .container {
    .row{
      .col{
        figure{
          img{}
        }
      }
      .col-md{
        .listen-now{
          .scripture-quote{
            h2{
            }
          }
          .my-container{
            a{
              .cd-album-cover{
              }
              .album-cover{
              }
            }
          }
          .my-container:hover .cd-album-cover{
          }
        }
      }
    }
    .my-text-info{
      h3{}
      p{
      }
    }
    #videoSamples{
      div#videoHolder{
        // flex-direction:row;
        iframe{
          width: 100%;
          height: 350px;
          margin: 0 auto 5rem auto;
        }
      }
    }
  } 
}
@media only all and (min-width: 992px) {
  @include universal_med;
  figure{
    width: 50vw;
  }
  h3{
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
  .container {
    .row{
      .col{
        figure{
          img{}
        }
      }
      .col-md{
        .listen-now{
          .scripture-quote{
            font-size: 20px;
            h2{}
          }
          .my-container{
            a{
              .cd-album-cover{
              }
              .album-cover{
              }
            }
          }
          .my-container:hover .cd-album-cover{
          }
        }
      }
    }
    .my-text-info{


    }
    #videoSamples{
      div#videoHolder{
        iframe{
        }
      }
    }
  } 
}
@media only all and (min-width: 1200px) {
  h3{
    margin-top: 40px;
  }
  .container {
    .row{
      .col{
        figure{
          img{}
        }
      }
      .col-md{
        .listen-now{
          .scripture-quote{
            font-size: 30px;
            h2{
              font-size: 50px;
            }
          }
          .my-container{
            padding-top: 7.5rem;
            a:link{
              .cd-album-cover{
              }
              .album-cover{
              }
            }
          }
          .my-container:hover .cd-album-cover{
          }
        }
      }
    }
    .my-text-info{
      h3{}
      p{
        font-size: 18px;
      }
    }
    #videoSamples{
      div#videoHolder{
        flex-direction:row;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto 2.5rem auto;
        iframe{
          width: 45%;
          height: 350px;
          margin: 0 auto 0rem auto;
        }
      }
    }
  } 
}
@media only all and (min-width: 1600px) {
  figure{
    width: 50vw;
  }
  .container {
    .row{
      .col{
        figure{
          img{}
        }
      }
      .col-md{
        .listen-now{
          .scripture-quote{
            font-size: 30px;
            h2{
              font-size: 50px;
            }
          }
          .my-container{
            a{
              .cd-album-cover{
              }
              .album-cover{
              }
            }
          }
          .my-container:hover .cd-album-cover{
          }
        }
      }
    }
    .my-text-info{
      h3{}
      p{

      }
    }
    #videoSamples{
      div#videoHolder{
        iframe{
        }
      }
    }
  } 
}