

<div class="container">

    <div class="row">
        <div class="col-md">
            <img class="center" src="../assets/images/SmithEnsemblePics/SmithEnsemble-Cover.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md">


        <div class="listen-now top-right">
            <div class="scripture-quote">
                <h2>Isaiah 55:12</h2>
                <article>For ye shall go out with joy, and be led forth with peace: the mountains and the hills shall break forth before you into singing, and all the trees of the field shall clap their hands.</article>
            </div>    
            <!-- <h2>Our New Album</h2> -->
            <!-- Fixed the cd is part of the link. -->
               <div class="my-container">
                <!-- <a href="https://www.heirloomartco.com/products/the-smith-ensemble-all-things-come-of-thee?_pos=1&_sid=2085e6cd3&_ss=r"> -->
                    <a href="https://open.spotify.com/track/1CbrzsCPGoy8e3xXlZpaQt?si=kqLhJPl0TFKLXyAEbUfM2g&context=spotify%3Aalbum%3A4pSqwNqxvOo1PMoSgCzLZw&fbclid=IwY2xjawFIGkhleHRuA2FlbQIxMAABHRa-VQ_BRBrWRotl9QQ9QiuHOM2KXrw3VTrcTWBSK_hV661gjIuxTS4zpg_aem_YT13f7w9f6DWM6dpdSaxAA&nd=1&dlsi=94eaf0a29f364a83">
                    <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/cd-vector.png">
                    <img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png">
                </a>
            </div>
                
        </div>

 <!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
            
        </div>
    </div>


    <div class="row">
        <div class="col">
            <!-- <p>Or Check us out at these websites:</p> -->
            <app-icons-ensemble></app-icons-ensemble>

        </div>
    </div>
    

 
</div>