

<div class="container">

    <div class="row">
        <div class="col-md" id="videoHolder" #videoHolder (click)="fadeOut()">
            <img class="center" src="../assets/images/SmithEnsemblePics/SmithEnsembleTitle.png"
                [ngClass]="fadeOut_bool == true ? 'fadeOut_scss' : ''">
             <video id="video" width="100%" autoplay [muted]="'muted'" [loop]="'loop'">
                <source src="../../assets/SampleVideo.mp4" type="video/mp4">
             </video>
        </div>
    </div>
    <div class="row">
        <div class="col-md">


        <div class="listen-now top-right">
            <div class="scripture-quote">
                <h2>Isaiah 55:12</h2>
                <article>For ye shall go out with joy, and be led forth with peace: the mountains and the hills shall break forth before you into singing, and all the trees of the field shall clap their hands.</article>
            </div>    
            <!-- <h2>Our New Album</h2> -->
            <!-- Fixed the cd is part of the link. -->
               <div class="my-container">
                <!-- <a href="https://www.heirloomartco.com/products/the-smith-ensemble-all-things-come-of-thee?_pos=1&_sid=2085e6cd3&_ss=r"> -->
                    <a routerLink="/buy-cds" >
                    <!-- <a [routerLink]="['/buy-cds',data.id]"> -->
                        <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/cd-vector.png">
                        <img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png">
                    </a>
                    <!-- <a href="https://open.spotify.com/track/1CbrzsCPGoy8e3xXlZpaQt?si=kqLhJPl0TFKLXyAEbUfM2g&context=spotify%3Aalbum%3A4pSqwNqxvOo1PMoSgCzLZw&fbclid=IwY2xjawFIGkhleHRuA2FlbQIxMAABHRa-VQ_BRBrWRotl9QQ9QiuHOM2KXrw3VTrcTWBSK_hV661gjIuxTS4zpg_aem_YT13f7w9f6DWM6dpdSaxAA&nd=1&dlsi=94eaf0a29f364a83">
                        <img class="cd-album-cover " src="../../assets/images/SmithEnsemblePics/cd-vector.png">
                        <img class="album-cover" src="../../assets/images/SmithEnsemblePics/front.png">
                    </a> -->
            </div>
                
        </div>

 <!-- <button type="button" class="btn btn-primary buy-cd">Buy a CD</button> -->
            
        </div>
    </div>


    <div class="col-md-12 text-center my-text-info">
        <h3>THE SMITH ENSEMBLE</h3>  


        <p>The Smith Ensemble formed as a result of many family gatherings through the years, which oft times included singing together favorite choral music around the piano in our living room. The ensemble is made up of two parents, eight of their children, and two sons-in-law. This recording was born out of the desire to share our love of faith, family, and friends. We hope you feel Heaven's light and love through the inspirational messages found within these anthems and sacred songs.</p>


        <p>We are forever indebted to our parents, Fairon and Carolyn Smith, and Fred and Naomi Bonney, who instilled in us at an early age a love of great and inspiring music, who believed in, and supported us through our formative years of musical training, and who have continued to be our greatest fans. We dedicate this humble musical offering to them! </p>



        <p>Further, this CD project never would have materialized without the interest, vision, encouragement, and generous support of Blake and Nancy Roney, and Brad and Shanda Roberts. These dear friends saw something in us that we didn’t see in ourselves. For this we express our deepest gratitude!</p>

        <div class="col">
            <!-- <p>Or Check us out at these websites:</p> -->
            <app-icons-ensemble></app-icons-ensemble>
        </div>
    </div>
    

 
</div>