<ng-template
  [ngIf]="itemPopUp">
    <section id="itemPopUp">
      <div id="productImgs">
          <div class="imgHolder">
            <figure (click)="zoomIn(AlbumInfo.AlbumCovers[chosenItem]);">
              <img src="../../assets/images/SmithEnsemblePics/{{AlbumInfo.AlbumCovers[chosenItem]}}" alt="{{AlbumInfo.Titles[chosenItem]}}">
            </figure>
            <figure (click)="zoomIn(AlbumInfo.SecondaryPics[chosenItem]);">
              <img src="../../assets/images/SmithEnsemblePics/{{AlbumInfo.SecondaryPics[chosenItem]}}" alt="{{AlbumInfo.Titles[chosenItem]}}">
            </figure>
          </div>
      </div>
      <div id="productInfo">
        <div>
          <h1 id="productName">
              {{AlbumInfo.Titles[chosenItem]}}
          </h1>
          <h3>(${{AlbumInfo.Prices[chosenItem]}})</h3>
        </div>
        <ol>
          <li *ngFor="let song of AlbumInfo.Songs[chosenItem]">{{song}}</li>
        </ol>
        <div id="productInputs">
          <input type="number" min="0"  #productQuantity value="" placeholder="Quantity" autofocus/>
          <button (click)="addToCart()">Add to Cart</button>
        </div>
      </div>
      <button id="closeBtn" (click)="closePopUp();">Back to Catalog</button>
    </section>
    <ng-template [ngIf]="zoomIn_bool">
      <section id="zoomIn" (click)="closeZoomIn()">
        <figure>
          <img src="{{zoomIn_pic}}" alt="zoomIn_pic">
        </figure>
      </section>
    </ng-template>
</ng-template>