@media only all and (min-width: 0) {
  #itemPopUp{
    padding: 2rem;
    background: rgba(173, 132, 54, 0.25);
    padding: 2rem;
    width: 95%;
    margin: 0 auto;
    #productImgs{
      div.imgHolder{
        margin:2.5rem auto;
        display:flex;
        justify-content: center;
        figure{
          margin: 0 1rem;
          width: 150px;
          box-shadow: 0px 5px 10px black;
          cursor: pointer;
          img{
            width:100%;
          }
        }
      }
    }
    #productInfo{
      h1{
      }
      ol{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        li{
          width: fit-content;
        }
      }
      #productInputs{
        input{}
        button{}
      }
      // background-color: red;
    }
    #closeBtn{
      margin: 2.5rem auto;
      
    }
  }
  #zoomIn{
    display:flex;
    z-index: 5;
    position:fixed;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    cursor:pointer;
    figure {
      box-shadow: 0 5px 20px white;
      overflow:hidden;
      border-radius: 5px;
      width: 75vw;
      img{
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}
@media only all and (min-width: 760px) {
  #itemPopUp{
    #productImgs{
      div.imgHolder{
        figure{
          width: 300px;
          img{
          }
        }
      }
    }
    #productInfo{
      h1{
      }
      ol{
        li{
        }
      }
      #productInputs{
        input{}
        button{}
      }
    }
    #closeBtn{
    }
  }
  #zoomIn{
    cursor:pointer;
    figure {
      width: 50vw;
      img{
      }
    }
  }
}
@media only all and (min-width: 992px) {
  #itemPopUp{
    #productImgs{
      div.imgHolder{
        figure{
          width: 300px;
          margin: 0 3rem;
          img{
          }
        }
      }
    }
    #productInfo{
      h1{
      }
      ol{
        li{
          // font-size:18px;
        }
      }
      #productInputs{
        font-size: 14px;
        margin: 2.5rem auto;
        input{
          padding: 1rem 0 1rem 1rem;
        }
        button{
          padding: 1rem;
        }
      }
    }
    #closeBtn{
      font-size: 14px;
      padding: 1rem 1.85rem;
      margin: 2.5rem;
    }
  }
  #zoomIn{
    cursor:pointer;
    figure {
      width: 30vw;
      img{
      }
    }
  }
}
@media only all and (min-width: 1200px) {}
