
<div class="container video-body">  
    
    <div class="row">
        <div class="col">
              <h1 id="title">Buy CDs</h1>
              <ng-template
                [ngIf]="!showItemPopUp && !showCartPopUp">                  
                  <section class="sales-floor">
                      <div>
                        <article *ngFor="let key of AlbumInfo.Keys" class="purchase-item" (click)="selectItem(key)">
                            <figure>
                                <img class="album-cover" src="../../assets/images/SmithEnsemblePics/{{AlbumInfo.AlbumCovers[key]}}">
                            </figure>
                            <h2>{{AlbumInfo.Titles[key]}}</h2>
                        </article>
                    </div>
                      <ng-template
                          [ngIf]="myOrders.length != 0">
                          <button (click)="toggleCartPopUp(true)">Show Cart</button>
                      </ng-template>
                  </section>
              </ng-template>
              <section class="cart_section"
                  [ngStyle]="{'z-index':showCartPopUp ? '4' : '1'}">
                  <app-shop-cart 
                      [(cartPopUp)] = "showCartPopUp"
                      [(soonToPurchase)]="myOrders"
                      [(customerOrder)]="customerOrder"
                      (changedCart)="changeOrder($event)"
                      (cartPopUpChange)="toggleCartPopUp($event)"
                  ></app-shop-cart>
              </section>
              <section class="productInfo_section"
                  [ngStyle]="{'z-index':showItemPopUp ? '4' : '1'}">
                  <app-shop-info
                      [(itemPopUp)] = "showItemPopUp"
                      [chosenItem] = "selectedItem"
                      (addedOrder)="applyOrder($event)"
                  >
                  </app-shop-info>
              </section>
  
  
  
  
    </div>
    
    </div>